@import 'compass';

$white: #fff;
$brown: #cdcabe;
$dark-brown: darken($brown,10%);
$green: #8dbd69;
$dark-green: darken($green,10%);
$orange: #fa9c38;

html {
  height: 100%;
}

body {
  @include background-image(linear-gradient($brown,$dark-brown));
  background-attachment: fixed;
  font: 16px Georgia, serif;
  color: #222;
  line-height: 24px;
}

h1 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: $orange;
  &:hover {
    text-decoration: underline;
  }
}

hr {
  background-color: $dark-brown;
  border: none;
  height: 1px;
}

.page {
  width: 600px;
  margin: 1em auto;
  padding: 3em 4em;
  background-color: rgba($white,.6);
  @include border-radius(2px);
}

header {
  h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 32px;
  }
  a {
    color: $green;
    font-family: Helvetica, Helvetica Neue, sans-serif;
    font-weight: normal;
    &:hover {
      text-decoration: none;
      color: $dark-green;
    }
  }
}

.content {
  margin-bottom: 2em;
  > h1 {
    text-align: center;
    margin-bottom: 32px;
  }
}

footer {
  color: #555;
}
