<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ page.title }}" href="/posts.xml?utm_source=rss_feed&utm_medium=rss&utm_campaign=rss_syndication" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="{{ content | strip_html | truncatewords: 20 }}" />
    {% endif %}
  </head>
  <body>
    <div class="page" itemscope itemtype="http://schema.org/Article">
      <section class="content">
        {{ content }}
      </section>
    </div>
    {% include analytics.html %}
  </body>
</html>
