<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ page.title }}" href="/posts.xml?utm_source=rss_feed&utm_medium=rss&utm_campaign=rss_syndication" />
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>
  <body>
    <div class="page" itemscope itemtype="http://schema.org/Blog">
      <header>
        <h1 itemprop="name"><a href="http://blog.corykaufman.com" title="Mind like water" itemprop="url">Mind like water</a></h1>
      </header>
      <section class="content" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPost">
        {{ content }}
      </section>
      <footer>
        <span class="copyright">Uncopyright</span>
        |
        <a href="/posts.xml?utm_source=rss_feed&utm_medium=rss&utm_campaign=rss_syndication">Feed</a>
        |
        <a href="http://corykaufman.com" rel="author">About the author</a>
      </footer>
    </div>
    {% include analytics.html %}
  </body>
</html>
